{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/home.css' %}">
{% endblock head %}
{% block content %}

<section class='golfcourse-list'>
  {% for golfcourse in golfcourse_list %}
    <a href="{% url 'golfcourse_detail' golfcourse.id %}">
      <div class='card'>
        <div>
          <img class='image' src="{{ golfcourse.photo.url }}" alt="">
          <h2>{{ golfcourse.name }}</h2>
          <p>{{ golfcourse.address }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</section>

{% endblock content %}