{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/home.css' %}">
{% endblock head %}
{% block content %}

<h2>{{ golfcourse.name }}</h2>
<p>Address: {{ golfcourse.address }}</p>
<p>Course hours: {{ golfcourse.hours_open }}</p>
<p>Price for 9 holes without a cart: {{ golfcourse.price_9holes_wo_cart }}</p>
<p>Price for 9 holes with a cart: {{ golfcourse.price_9holes_w_cart }}</p>
<p>Price for 18 holes without a cart: {{ golfcourse.price_18holes_wo_cart }}</p>
<p>Price for 18 holes with a cart: {{ golfcourse.price_18holes_w_cart }}</p>

<div>
  <a href="{% url 'golfcourse_update' golfcourse.id %}">
  <button>
  Edit
  </button>
  </a>
</div>

{% endblock %}